@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.display {
    padding: 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include tablet {
        padding: 3rem 8rem;
    }

    &__search {

    }
    &__search-box {
    // flex: 1;
        width: 100%;
        box-sizing: border-box;
        border: none;
        box-shadow: 0 0 12px  rgba(0, 0, 0, 0.1);
        background-image: url(./assets/icon-close.svg);
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        height: 6rem;
        border-radius: 1rem;
        @include text-style (2.5rem, 400, 8rem);

        &::placeholder {
            font-size: 20px;
        }

        @include desktop {
            width: 40%;
            
        }
    }
    &__filter {

    }

    &__filter-dropdown {
        
    }
    &__items {

    }
}